<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.likailing.cloud.service.mapper.RoleAuthMapper">

    <resultMap id="BaseResultMap" type="xyz.likailing.cloud.service.entity.RoleAuth">
            <id property="id" column="id" jdbcType="CHAR"/>
            <result property="roleId" column="role_id" jdbcType="CHAR"/>
            <result property="authId" column="auth_id" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,role_id,auth_id
    </sql>
</mapper>
