<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.likailing.cloud.service.manager.mapper.ChapterMapper">

    <resultMap id="ChapterVO" type="xyz.likailing.cloud.service.manager.entity.vo.ChapterVO">
        <association property="chapter" javaType="Chapter">
            <result property="id" column="id"/>
            <result property="courseId" column="course_id"/>
            <result property="name" column="name"/>
            <result property="number" column="number"/>
        </association>
        <collection property="children" ofType="xyz.likailing.cloud.service.manager.entity.vo.ChildChapter">
            <association property="subChapter" javaType="SubChapter"/>
            <collection property="timetables" ofType="Timetable"/>
        </collection>
    </resultMap>

    <select id="selectCourseChapter" resultMap="ChapterVO">
        SELECT
            *
        FROM manager_chapter
        WHERE course_id = #{courseId}
        order by number
    </select>

</mapper>
