<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.likailing.cloud.service.manager.mapper.CourseMapper">

    <resultMap id="courseVO" type="xyz.likailing.cloud.service.manager.entity.vo.CourseVO">
        <result column="id" property="courseId"/>
        <result column="name" property="courseName"/>
        <result column="credit_hour" property="creditHour"/>
        <result column="credit_num" property="creditNum"/>
        <result column="type" property="type"/>
        <result column="year" property="year"/>
        <result column="term" property="term"/>
        <result column="begin_week" property="beginWeek"/>
        <result column="end_week" property="endWeek"/>
        <result column="department" property="department"/>
        <result column="cover_url" property="coverUrl"/>
        <collection property="teacherNames" ofType="Teacher"/>
        <collection property="classNames" ofType="Class" select="getClasses" column="id"/>
    </resultMap>
    <select id="getClasses" resultType="string" parameterType="string">
        SELECT cl.* FROM manager_class cl
            LEFT JOIN manager_class_course cc ON cl.id = cc.class_id
        WHERE cc.course_id = #{id}
    </select>

    <resultMap id="courseVOTeacher" type="xyz.likailing.cloud.service.manager.entity.vo.CourseVO">
        <result column="id" property="courseId"/>
        <result column="name" property="courseName"/>
        <result column="credit_hour" property="creditHour"/>
        <result column="credit_num" property="creditNum"/>
        <result column="type" property="type"/>
        <result column="year" property="year"/>
        <result column="term" property="term"/>
        <result column="begin_week" property="beginWeek"/>
        <result column="end_week" property="endWeek"/>
        <result column="department" property="department"/>
        <result column="cover_url" property="coverUrl"/>
        <collection property="teacherNames" ofType="string" select="getTeachers" column="id"/>
        <collection property="classNames" ofType="Class"/>
    </resultMap>
    <select id="getTeachers" resultType="Teacher" parameterType="string">
        SELECT t.* FROM manager_teacher t
            LEFT JOIN manager_teacher_course tc ON t.id = tc.teacher_id
        WHERE tc.course_id = #{id}
    </select>

    <select id="selectYTStuCourses" resultMap="courseVO">
        SElECT
            mc.id,
            mc.name,
            mc.credit_hour,
            mc.credit_num,
            mc.type,
            mc.year,
            mc.term,
            mc.begin_week,
            mc.end_week,
            mc.department,
            mc.cover_url,
            t.*
        FROM manager_course mc
            LEFT JOIN manager_teacher_course tc ON mc.id = tc.course_id
            LEFT JOIN manager_teacher t ON t.id = tc.teacher_id
            LEFT JOIN manager_class_course cc ON mc.id = cc.course_id
            LEFT JOIN manager_class cl ON cl.id = cc.class_id
            LEFT JOIN manager_student s ON s.class_id = cl.id
        ${ew.customSqlSegment}
    </select>

    <select id="selectYTTeaCourses" resultMap="courseVOTeacher">
        SElECT
            mc.id,
            mc.name,
            mc.credit_hour,
            mc.credit_num,
            mc.type,
            mc.year,
            mc.term,
            mc.begin_week,
            mc.end_week,
            mc.department,
            mc.cover_url,
            cl.*
        FROM manager_course mc
            LEFT JOIN manager_teacher_course tc ON mc.id = tc.course_id
            LEFT JOIN manager_teacher t ON t.id = tc.teacher_id
            LEFT JOIN manager_class_course cc ON mc.id = cc.course_id
            LEFT JOIN manager_class cl ON cl.id = cc.class_id
        ${ew.customSqlSegment}
    </select>

    <select id="selectAllCourses" resultMap="courseVO">
        SElECT
            mc.id,
            mc.name,
            mc.credit_hour,
            mc.credit_num,
            mc.type,
            mc.year,
            mc.term,
            mc.begin_week,
            mc.end_week,
            mc.department,
            mc.cover_url,
            t.*
        FROM manager_course mc
            LEFT JOIN manager_teacher_course tc ON mc.id = tc.course_id
            LEFT JOIN manager_teacher t ON t.id = tc.teacher_id
    </select>

    <select id="selectPageCourses" resultMap="courseVO">
        SElECT
            mc.id,
            mc.name,
            mc.credit_hour,
            mc.credit_num,
            mc.type,
            mc.year,
            mc.term,
            mc.begin_week,
            mc.end_week,
            mc.department,
            mc.cover_url,
            t.*
        FROM manager_course mc
            LEFT JOIN manager_teacher_course tc ON mc.id = tc.course_id
            LEFT JOIN manager_teacher t ON t.id = tc.teacher_id
        ${ew.customSqlSegment}
    </select>

    <select id="selectCourseById" resultMap="courseVO">
        SElECT
            mc.id,
            mc.name,
            mc.credit_hour,
            mc.credit_num,
            mc.type,
            mc.year,
            mc.term,
            mc.begin_week,
            mc.end_week,
            mc.department,
            mc.cover_url,
            t.*
        FROM manager_course mc
            LEFT JOIN manager_teacher_course tc ON mc.id = tc.course_id
            LEFT JOIN manager_teacher t ON t.id = tc.teacher_id
        WHERE mc.id = #{id}
    </select>

</mapper>
