<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.likailing.cloud.service.manager.mapper.CourseMapper">

    <select id="selectYTStuCourses" parameterType="xyz.likailing.cloud.service.manager.entity.vo.CourseQueryVO"
            resultType="xyz.likailing.cloud.service.manager.entity.vo.CourseVO">
        SElECT
            mc.id AS courseId,
            mc.name AS courseName,
            t.name AS teacherName,
            cl.name AS className,
            mc.begin_week AS beginWeek,
            mc.end_week AS endWeek,
            mc.cover_url AS coverUrl
        FROM manager_course mc
            LEFT JOIN manager_teacher_course tc ON mc.id = tc.course_id
            LEFT JOIN manager_teacher t ON t.id = tc.teacher_id
            LEFT JOIN manager_class_course cc ON mc.id = cc.course_id
            LEFT JOIN manager_class cl ON cl.id = cc.class_id
            LEFT JOIN manager_student s ON s.class_id = cl.id
        ${ew.customSqlSegment}
    </select>

    <select id="selectYTTeaCourses" parameterType="xyz.likailing.cloud.service.manager.entity.vo.CourseQueryVO"
            resultType="xyz.likailing.cloud.service.manager.entity.vo.CourseVO">
        SElECT
            mc.id AS courseId,
            mc.name AS courseName,
            t.name AS teacherName,
            cl.name AS className,
            mc.begin_week AS beginWeek,
            mc.end_week AS endWeek,
            mc.cover_url AS coverUrl
        FROM manager_course mc
            LEFT JOIN manager_teacher_course tc ON mc.id = tc.course_id
            LEFT JOIN manager_teacher t ON t.id = tc.teacher_id
            LEFT JOIN manager_class_course cc ON mc.id = cc.course_id
            LEFT JOIN manager_class cl ON cl.id = cc.class_id
        ${ew.customSqlSegment}
    </select>

    <select id="selectAllCourses" resultType="xyz.likailing.cloud.service.manager.entity.vo.AdminCourseVO">
        SElECT
            mc.id AS courseId,
            mc.name AS courseName,
            mc.credit_hour AS creditHour,
            mc.credit_num AS creditNum,
            mc.type AS type,
            mc.year AS year,
            mc.term AS term,
            mc.begin_week AS beginWeek,
            mc.end_week AS endWeek,
            mc.department AS department,
            t.name AS teacherName,
            cl.name AS className,
            mc.cover_url AS coverUrl
        FROM manager_course mc
            LEFT JOIN manager_teacher_course tc ON mc.id = tc.course_id
            LEFT JOIN manager_teacher t ON t.id = tc.teacher_id
            LEFT JOIN manager_class_course clc ON mc.id = clc.course_id
            LEFT JOIN manager_class cl ON cl.id = clc.class_id
    </select>

    <select id="selectPageCourses" resultType="xyz.likailing.cloud.service.manager.entity.vo.AdminCourseVO">
        SElECT
            mc.id AS courseId,
            mc.name AS courseName,
            mc.credit_hour AS creditHour,
            mc.credit_num AS creditNum,
            mc.type AS type,
            mc.year AS year,
            mc.term AS term,
            mc.begin_week AS beginWeek,
            mc.end_week AS endWeek,
            mc.department AS department,
            t.name AS teacherName,
            cl.name AS className,
            mc.cover_url AS coverUrl
        FROM manager_course mc
            LEFT JOIN manager_teacher_course tc ON mc.id = tc.course_id
            LEFT JOIN manager_teacher t ON t.id = tc.teacher_id
            LEFT JOIN manager_class_course clc ON mc.id = clc.course_id
            LEFT JOIN manager_class cl ON cl.id = clc.class_id
        ${ew.customSqlSegment}
    </select>

</mapper>
