<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.likailing.cloud.service.manager.mapper.StudentMapper">

    <select id="selectWithoutClass" resultType="xyz.likailing.cloud.service.manager.entity.vo.StudentVO">
        SElECT
            s.id AS id,
            s.name AS name,
            s.gender AS gender,
            s.major AS major,
            s.department AS department,
            s.user_id AS userId,
            cl.name AS className
        FROM
            manager_student s,
            manager_class cl
        WHERE
            s.class_id != 'nul'
            AND s.class_id = cl.id
    </select>

</mapper>
