<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.likailing.cloud.service.manager.mapper.TimetableMapper">

    <resultMap id="TimetableVO" type="xyz.likailing.cloud.service.manager.entity.vo.TimetableGetVO">
        <result column="id" property="id"/>
        <result column="cname" property="courseName"/>
        <result column="date" property="date"/>
        <result column="week" property="week"/>
        <result column="day_of_week" property="dayOfWeek"/>
        <result column="begin_index" property="beginIndex"/>
        <result column="end_index" property="endIndex"/>
        <result column="location" property="location"/>
        <result column="teacher_id" property="teacherId"/>
        <result column="tname" property="teacherName"/>
        <result column="status" property="status"/>
        <collection property="subChapters" ofType="SubChapter" select="subs" column="id"/>
    </resultMap>
    <select id="subs" resultType="SubChapter">
        SELECT *
        FROM manager_sub_chapter sc
            LEFT JOIN manager_chapter_timetable mct ON mct.sub_chapter_id = sc.id
        WHERE mct.timetable_id = #{id}
    </select>

    <select id="selectTimetableList" resultMap="TimetableVO">
        SELECT
            tt.id,
            mc.name cname,
            tt.date,
            tt.week,
            tt.day_of_week,
            tt.begin_index,
            tt.end_index,
            tt.location,
            tt.teacher_id,
            mt.name tname,
            tt.status
        FROM manager_timetable tt
            LEFT JOIN manager_teacher mt ON mt.id = tt.teacher_id
            LEFT JOIN manager_course mc ON mc.id = tt.course_id
        WHERE tt.course_id = #{courseId}
        order by tt.date
    </select>

    <select id="selectSubTimetables" resultType="Timetable">
        SELECT *
        FROM manager_timetable mt
            LEFT JOIN manager_chapter_timetable mct ON mct.timetable_id = mt.id
        WHERE mct.sub_chapter_id = #{subId}
    </select>

    <select id="selectChapter" resultType="SubChapter">
        SELECT *
        FROM manager_sub_chapter msc
            LEFT JOIN manager_chapter_timetable mct ON mct.sub_chapter_id = msc.id
        WHERE mct.timetable_id = #{id}
    </select>

    <select id="selectExpiredTimetable" parameterType="java.util.Date" resultType="Timetable">
        SELECT *
        FROM manager_timetable mt
        WHERE (mt.status = 0 OR mt.status = 1)
          AND <![CDATA[mt.date < CURDATE()]]>;
    </select>

    <select id="selectTodayTimetable" parameterType="java.util.Date" resultType="Timetable">
        SELECT *
        FROM manager_timetable mt
        WHERE mt.status = 0
          AND mt.date = CURDATE()
    </select>

    <update id="updateExpiredTimetable">
        UPDATE manager_timetable mt SET mt.status = 2
        WHERE (mt.status = 0 OR mt.status = 1) AND <![CDATA[mt.date < CURDATE()]]>;
    </update>

    <update id="updateTodayTimetable">
        UPDATE manager_timetable mt SET mt.status = 1 WHERE mt.date = CURDATE()
    </update>

</mapper>
